
h1 {
    font-size: 32px;
  }
  
 
  p {
    font-size: 21px;
    font-family: sans-serif;
    word-spacing: 1px;
    color: #0f0d0d;
  }
  

  ul {
    font-size: 21px;
  }
  
 
  a:visited, footer a:visited {
    color: purple;
  }
  body {
    max-width: 90%;
    margin: 0 auto;
    background: linear-gradient(to bottom right, #FFFFFF, #FFD700);
    background-image: url('your-image-url.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-linear-gradient(90deg, rgb(24, 121, 208), rgb(23, 201, 25));
    background: linear-gradient(90deg, rgb(24, 121, 208), rgb(23, 201, 25));

  }
  
  blockquote {
    width: 50%;
    margin: 80px auto;
    font-size: 160%;
    background-color: #F5F5F5;
    border-left: 3px solid Firebrick;
    padding-left: 30px;
    
  }
  
  
 
  a:hover {
    background: yellow;
    
  }
  