h1 {
    font-size: 32px
}
p{
    font-size: 21px ;
    font-family: sans-serif;
    word-spacing: 1px;
    color: #0f0d0d;
}
ul {
    font-size: 21px;
}




a:visited, footer a:visited {
    color: purple;
}
@media (hover: hover) {
    a:hover {
      background: yellow;
      hover: green;
    flood-color: blue;
    }
  }
  